#calendar {
  display: block;
  width: 100%;
  background-color: var(--color-foreground);
  border-radius: 18px;
  padding: 18px 21px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar_header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.calendar_navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  justify-self: end;
}

#prev,
#next {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

#prev:hover,
#next:hover {
  background-color: var(--color-selected-bg);
}

.main_calendar {
  border: 1px solid var(--color-gray);
  border-radius: 24px;
  padding: 10px 8px;
}

.calendar_week,
.calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 12px;
  gap: 28px;
  text-align: center;
  align-items: center;
}

.calendar_grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 12px;
  transition: background-color 200ms ease, transform 200ms ease;
}

.calendar_grid p {
    cursor: pointer;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.calendar_grid p:hover:not(.today):not(.selected) {
    background-color: var(--color-gray);
}

.today {
  background-color: var(--color-selected-bg);
  font-weight: bold;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
    background-color: #169DD9;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(54, 99, 247, 0.4);
}
