nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans-mulish);
  width: 280px;
  height: 100vh;
  background-color: var(--color-foreground);
  border-radius: 0 24px 24px 0;
  padding: 48px 15px 0 15px;
}

.logo {
  align-self: center;
  margin-bottom: 56px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin-bottom: 16px;
}

nav ul li a {
  display: flex;
  text-decoration: none;
  font-weight: var(--fw-semibold);
  color: var(--color-gray);
  align-items: center;
  gap: 16px;
  padding: 13px 12px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--color-white);
}

nav ul li a.active {
  background-color: var(--color-selected-bg);
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.45));
  color: var(--color-white);
  border-radius: 12px;
}

.logout {
  margin-top: auto;
  border-top: 1px solid var(--color-gray);
  padding: 24px 18px;
}

.logout a {
  padding: 0;
}

header {
  display: flex;
  height: 112px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  background-color: var(--color-foreground);
  border-radius: 18px;
  margin-top: 20px;
  box-sizing: border-box;
}

#profile-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

#profile-bar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.capsule_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--color-foreground);
  border: 1px solid var(--color-gray);
  border-radius: 18px;
  padding: 22px 26px;
  width: 100%;
}

.capsule_container p {
  color: var(--color-gray);
}

.main_capsule {
  position: relative;
  width: 100%;
}

.main_capsule img {
  display: block;
  width: 100%;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-foreground);
  min-width: 250px;
  border-radius: 14px;
  padding: 14px;
  text-align: center;
}

.moment_container {
  background-color: var(--color-foreground);
  border: 1px solid var(--color-gray);
  border-radius: 20px;
  padding: 22px 28px;
}

.recent_moment_container {
  background-color: var(--color-foreground);
  border: 1px solid var(--color-gray);
  border-radius: 20px;
  padding: 15px;
}

.moment_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.actions {
  display: flex;
  gap: 24px;
}

.action {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--color-gray);
  transition: color 300ms ease-in-out;
}

.action:hover {
  color: var(--color-white);
}

.moment_bottom {
  display: flex;
  gap: 24px;
  align-items: center;
}

.recent_moment_bottom {
  display: flex;
  gap: 12px;
  align-items: center;
}

.moment_bottom img {
  width: 72px;
  height: 72px;
  border-radius: 10px;
}

.recent_moment_bottom img {
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.seal_info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info_title {
  color: var(--color-gray);
}

.moment_status {
  color: var(--color-primary);
}

.recently_sealed {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--color-foreground);
  padding: 18px 21px;
  border-radius: 18px;
}
