nav {
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans-mulish);
  max-width: 320px;
  height: 100vh;
  background-color: var(--color-foreground);
  border-radius: 0 24px 24px 0;
  padding: 48px 15px 0 15px;
}

.logo {
  align-self: center;
  margin-bottom: 64px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin-bottom: 16px;
}

nav ul li a {
  display: flex;
  text-decoration: none;
  font-weight: var(--fw-semibold);
  color: var(--color-gray);
  align-items: center;
  gap: 18px;
  padding: 15px 14px 15px 14px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--color-white);
}

nav ul li a.active {
  background-color: var(--color-selected-bg);
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.45));
  color: var(--color-white);
  border-radius: 12px;
}

.logout {
  margin-top: auto;
  border-top: 1px solid var(--color-gray);
  padding: 31px 25px;
}

.logout a {
  padding: 0;
}
