nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans-mulish);
  width: 280px;
  height: 100vh;
  background-color: var(--color-foreground);
  border-radius: 0 24px 24px 0;
  padding: 48px 15px 0 15px;
}

.logo {
  align-self: center;
  margin-bottom: 56px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin-bottom: 16px;
}

nav ul li a {
  display: flex;
  text-decoration: none;
  font-weight: var(--fw-semibold);
  color: var(--color-gray);
  align-items: center;
  gap: 16px;
  padding: 13px 12px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--color-white);
}

nav ul li a.active {
  background-color: var(--color-selected-bg);
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.45));
  color: var(--color-white);
  border-radius: 12px;
}

.logout {
  margin-top: auto;
  border-top: 1px solid var(--color-gray);
  padding: 24px 18px;
}

.logout a {
  padding: 0;
}

header {
  display: flex;
  height: 112px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  background-color: var(--color-foreground);
  border-radius: 18px;
  margin-top: 20px;
  box-sizing: border-box;
}

#profile-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

#profile-bar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
