.bottom_left {
  font-family: var(--font-sans-roboto);
  display: flex;
  flex-direction: column;
  background: var(--gradient-foreground);
  padding: 20px;
  border-radius: 18px;
  gap: 18px;
}

.preserve_moment {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: var(--fs-h4);
  font-family: var(--font-sans-mulish);
}

input,
textarea,
.read_img {
  font-family: var(--font-sans-roboto);
  padding: 11px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  color: var(--color-white);
  font-size: var(--fs-h5);
  resize: none;
  height: 100%;
  width: 100%;
}

.read_desc {
  font-family: var(--font-sans-roboto);
  padding: 11px;
  color: var(--color-white);
  font-size: var(--fs-h5);
  resize: none;
  width: 100%;
}

#moment_media {
  display: none;
}

#moment_description {
  min-height: 300px;
  max-height: 100%;
}

#file_status {
  position: absolute;
  bottom: 10px;
  width: 100%;
  top: 40%;
  text-align: center;
  margin-left: -12px;
}

.media_preview {
  background-color: var(--color-bg);
  padding: 12px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  min-height: 324px;
  position: relative;
}

/* 1. The Container */
.img_container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.edit_bottom {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
  grid-auto-flow: row;
  margin: 0 auto;
  width: 1440px;
}

.read_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read_img {
  background-color: var(--color-foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read_img img {
  display: block;
  border-radius: 12px;
}

.read_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
  display: block;
}
